.article {
  min-height: 100px;

  padding-top: 10px;
  margin: 15px auto;
  border: 2px solid black;
  border-radius: 25px;
  background-color: #055c9d;
  color: lightcyan;

  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.articles-list {
  padding: 35px 30px;
}

.article h3 {
  margin-top: 5px;
}

.article-info {
  width: 100%;
  border-radius: 0 0 20px 20px;
  background-color: #003060;
  justify-content: space-evenly;
  align-items: center;
}

#sort-options {
  justify-content: center;
}

.select-option {
  height: 2em;
  border-radius: 20px;
}

.select-option {
  text-align: center;
  color: black;
  background-color: white;
}

#order-by {
  margin-left: 10px;
  width: 10em;
}

@media only screen and (max-width: 640px) {
  .article h3 {
    font-size: 15px;
  }
  #sort-options {
    flex-direction: column;
    align-items: center;
  }

  #order-by,
  .select-option {
    min-width: 15em;
    margin: 5px 0;
  }
}
