.comment-card {
  min-height: 150px;
  margin: 20px auto !important;
  justify-content: space-between;
  padding: 10px;
  border: 2px solid black;
  width: 85%;
  overflow: hidden;
}

li.article {
  margin: 20px;
  background-color: #003060;
}

.comment-details {
  padding: 5px;
  margin-top: 30px;
  border-radius: 20px;
  color: yellow;
  background-color: #055c9d;
}

.comment-details p {
  margin: 0 35px;
  display: inline;
}

.comment-body {
  line-height: 25px;
  margin: 15px 10px 0px 10px;
}
